/*------------preloader------------ */

	.js-preloader {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 1;
		visibility: visible;
		z-index: 9999;
		transition: opacity 0.25s ease;
	}

	.js-preloader.loaded {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}

	.preloader-inner {
		position: relative;
		width: 142px;
		height: 40px;
		background: #fff;
	}